html, body {
	padding: 0;
	margin: 0;
}

/* CSS for ToC */
#fundamentals {
	width: 30%;
	margin: 25px 0%;
	border: 0px solid #d2d2d2;
	background-color: #e6f2ff;
	float: left;
	padding: 0.3rem 0rem;
}

#fundamentals h2 {
	text-align: center; 
	color:  #011d32;
	font-family: Palatino;
	margin: 0rem 1rem;
	padding: 0.5rem;
	border-bottom: 1px solid black;
}

#fundamentals button {
	border: none;
	//border: 1.5px solid #025697; // #e6f2ff;// #025697;//#02487e;
	background: none; #d2d2d2; 
	color: #011d32;
	width: 100%;
	height: 50px;
	margin-bottom: 1%;
	font-family: Garamond;
	font-size: 16px;
	//box-shadow: 2px 2px 2px #025697;
	outline: none;
	cursor: pointer;
}

#fundamentals button:hover {
	border: 3px solid #0369ca;
	border-radius: 3px;
}

#mainContainer {
	width: 60%;
	height: auto;
	float: left;
	margin-left: 3%;
	border: 0px solid #0369ca;
	margin-top: 25px;
	padding: 0% 3%;
}

@media screen and (max-width: 768px) {	
	#fundamentals {
		width: 90%;
		margin: 5%;
	}
	
	#mainContainer {
		width: 80%;
		float: left;
		margin-top: 0%;
		margin-left: 5%;
		padding: 1% 5%;
	}
}