html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	display: table;
	/* The above rule display:table is used to make fundamentals bar reach to the bottom of the page */
	/* Source: https://codepen.io/kvana/pen/LZWQMo */ 

	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helvetica, sans-serif;
}

img {
	margin-bottom: 1rem;
	width: 100%;
	text-align: center;
}

#sidebar {
	width: 30%;
	border: 0px solid #d2d2d2;
	background-color: #e6f2ff;
	float: left;
	padding: 1rem 0rem 0.3rem;
	margin-right: 3%;
	display: table-cell;
	min-height: calc(100% - 4rem);
	/* I got the above rule from this stack overflow answer */
	/* https://stackoverflow.com/questions/22934016/extend-div-to-bottom-of-page-only-html-and-css*/

	/* margin: 2rem 0%; */
}

/* Header */
#sidebar h2 {
	text-align: center; 
	color:  #011d32;
	font-family: Palatino;
	margin: 0rem 1rem;
	padding: 0.5rem;
	border-bottom: 1px solid black;
}

#sidebar button {
	border: none;
	/* border: 1.5px solid #025697; */  /* #e6f2ff; #025697;#02487e; */
	background: none; /* #d2d2d2; */ 
	color: #011d32;
	width: 100%;
	height: 50px;
	margin-bottom: 1%;
	font-family: Garamond;
	font-size: 16px;
	/* //box-shadow: 2px 2px 2px #025697; */
	outline: none;
	cursor: pointer;
}

#sidebar button:hover {
	border: 3px solid #0369ca;
	border-radius: 3px;
}

#sidebar .currentPageButton {
	font-weight: bold;
	text-decoration: underline;
}

#mainContainer {
	width: 60%;
	height: auto;
	float: left;
	border: 0px solid #0369ca;
	margin-top: 2rem;
	padding: 0% 3%;
	display:table-cell;
}

#mainContainer h2 {
	margin: 0px;
	padding: 0.5rem;
}

/* If you ever want to affect all p and li sizes */
#mainContainer p, #mainContainer li {
}

#mainContainer a, #aboutContainer a {
	/* color: #002857; */
	color: #0086b3;
}

/* Found on homepage to jump to Chp0 */
#mainContainer .defaultButton {
	border: 2px solid #0086b3; 
	color: #0086b3;
	background-color: white;
	height: 3rem;
	width: 60%;
	font-size: 1rem;
	font-family: Courier;
	margin: auto;
	margin-top: 5%;
	display: block;
	border-radius: 5px;
	transition-duration: 0.3s;
}

#mainContainer .defaultButton:hover {
	background-color: #0086b3;
	color: white;
	cursor: pointer;
}

.blackButton {
	color: black !important;
	padding: 1em 2em;
	border-width: 2px;
	border-style: solid;
	width: auto;
	height: auto;
	cursor: pointer;
	outline: none;
	
	font-weight: normal;
	font-size: 0.8rem;
	line-height: 1em;
	letter-spacing: 0px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
    
	-webkit-transition: 0.1s background-color linear, 0.1s color linear;
	-moz-transition: 0.1s background-color linear, 0.1s color linear;
	-o-transition: 0.1s background-color linear, 0.1s color linear;
	transition: 0.1s background-color linear, 0.1s color linear;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.blackButton:hover {
    color: #fff !important;
    background-color: #222;
    border-color: #222;
}

.shadow,  .defaultButton {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}

.xxxsmallRem {
	height: 5rem;
}

.xxsmallRem {
	height: 10rem;
}

.xsmallRem {
	height: 15rem;
}


.smallRem {
	height: 20rem;
}

.mediumRem {
	height: 30rem;
}

.largeRem {
	height: 40rem;
}

.xlargeRem {
	height: 50rem;
}

.codeBoxBorder {
	border: 1px solid steelblue; /*  #3575d3; */
	width: 100%;
	margin-bottom: 0.25rem;/* */
}

.textBoxBorder {
	border: 1px solid #aeb8c9;
	background-color: #edf4f9; /* aliceblue; */
	width: 100%;
}

#references {
	padding: 0.1rem 1rem 1rem 1rem;
	background-color: #f6f8fa;
	border-radius: 0.3rem;
	line-height: 1.45;
	margin-bottom: 1rem;
}

section #references h3 {
	padding: 0rem;
	margin-bottom: 0.5rem;
}

section #references a {
	font-size: 0.9rem;
}


@media screen and (max-width: 768px) {	

	body {
		display: block;
	}

	#sidebar {
		width: 90%;
		margin: 5%;
		min-height: 1px;
		padding: 0.3rem 0rem;
	}
	
	#mainContainer {
		width: 80%;
		float: left;
		margin-top: 0%;
		margin-left: 5%;
		margin-bottom: 5%;
		padding: 1% 5%;
	}
}