/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
   
/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

/* ---- particles.js container ---- */

#particles-js{
	height: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #013a65;
}