		footer {
			border-top: 1px solid white;
			border-bottom: 0px solid white;
			background-color: #21578a; /* #f2f2f2; */
			width: 100%;
			padding: 0.1rem 0;
			text-align: center;
			clear: both;
		}
		
		footer a {
			text-decoration: none;
		}
		
		footer a:hover {
			color: #f2f2f2;
			cursor: pointer;
			text-decoration: underline;
		}
		
		footer a p {
			color: #f2f2f2;
			text-decoration: none;
		}
		
		@media screen and (max-width: 730px) {
			footer p {
				font-size: 16px;
			}
		}