blockquote {
  margin: 0;
}

section blockquote, 
section dl,
section ol,
section pre,
section table,
section ul {
  margin-bottom: 16px;
  margin-top: 0;
}

section blockquote {
  border-left: .25em solid #dfe2e5;
  color: #6a737d;
  padding: 0 1em;
}

section blockquote>:first-child {
  margin-top: 0;
}

section blockquote>:last-child {
  margin-bottom: 0;
}